<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Holybharat Suite">

  <listeners>
    <listener class-name="BaseClassHB.Listerners"/>
  </listeners>

  <test name="Regression">
    <classes>
      <class name="loginPage.LoginTest"/>
      <class name="createTemplePage.CreatetempleTest"/>
      <class name="Profile.ProfileTest"/>
    </classes>
  </test>

</suite>
